*.orig
*~
.DS_Store
*.log
*.db
.metadata
bin
.recommenders
RemoteSystemsTempFiles
gensrc

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Servers
spot-management-console/gwt-unitCache
target
**/src/gen

node
node_modules
local.properties
spot-core/data
data
.flattened-pom.xml
.settings
.classpath
.idea/libraries
*.asc
ajcore.*.txt

*.iml
*.eml
.idea
*.iws
.history
