<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Party sample page">
<meta name="author" content="meister.fuchs@gmail.com">

<title th:text="${pageTitle}">Party sample page</title>
<link rel="canonical" th:href="${canonicalUrl}">

<!-- Bootstrap core CSS -->
<link href="/css/milligram.min.css" rel="stylesheet">

</head>

<body>

	<!-- content -->
	<div class="container">

		<div th:if="${!isLoggedIn}">
			<form action="/login" method="post">
				<label for="username" th:text="#{login.username}">Username</label>
				<input name="username">
				
				<label for="password" th:text="#{login.password}">Password</label>
				<input name="password">
				
				<input type="submit" value="Login">
			</form>
		</div>

		<table>
			<thead>
				<tr>
					<th th:text="#{party.title}"></th>
					<th th:text="#{party.motto}"></th>
					<th th:text="#{party.location}"></th>
					<th th:text="#{party.date}"></th>
					<th th:if="${isLoggedIn}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="party : ${parties}">
					<td th:text="${party.title}">Title</td>
					<td th:text="${party.motto}">Motto</td>
					<td th:text="${party.location.streetName + ' ' + party.location.streetNumber + ', ' + party.location.postalCode + ' ' + party.location.city + ', ' + party.location.country.isoCode}">Street 10, Vienna, AT</td>
					<td th:text="${party.date}">Date</td>
					<td th:if="${isLoggedIn}">
						<form action="/cancel" method="post">
							<input type="hidden" name="partyPk" th:value="${party.pk}" >
							<input type="submit" value="Cancel party">
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Site footer -->
		<footer class="footer">
			<p>&copy; spOt next 2018</p>
		</footer>
	</div>

</body>
</html>