<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>log/core.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>core.%d{yyyy-MM-dd}.log</FileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.context.support" level="WARN" />
	<logger name="org.springframework.beans.factory" level="WARN" />
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="org.reflections.Reflections" level="WARN" />

	<root>
		<level value="DEBUG" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>