<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<context:spring-configured />
	<context:annotation-config />
	<context:component-scan base-package="at.spot.mail" />

	<aop:aspectj-autoproxy />

	<util:properties id="mailConfiguration" location="mail.properties"
		scope="singleton" />

	<!-- model package scan path -->
	<bean id="mailModuleDefinition" class="at.spot.core.infrastructure.type.ModuleDefinition">
		<constructor-arg name="moduleName" value="mail" />
		<constructor-arg name="modelPackagePath" value="at.spot.mail.model" />
	</bean>

	<import resource="classpath:spring-core.xml" />

</beans>
