<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%10.10thread] %-5(%level) %-45.45(%logger{45}) : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%10.10thread] %highlight(%-5(%level)) %blue(%-45.45(%logger{45})) : %msg%n</pattern>
		</encoder>
		<File>log/console.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>data/log/core.%d{yyyy-MM-dd}.log</FileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="io.spotnext" level="INFO" />
	<logger name="io.spotnext.core.persistence" level="INFO" />
	<logger name="io.spotnext.core.persistence.instrumentation" level="WARN" />
	<logger name="io.spotnext.core.persistence.hibernate.impl.HibernatePersistenceService" level="INFO" />
	<logger name="io.spotnext.core.infrastructure.strategy.impl.DefaultJsonSerializationStrategy" level="INFO" />
	<logger name="io.spotnext.core.infrastructure.service.impl.AbstractModelService" level="INFO" />
	<logger name="io.spotnext.core.infrastructure.service.impl.DefaultModelService" level="INFO" />
	<logger name="io.spotnext.core.infrastructure.service.impl.RemoteHttpEndpointHandlerService" level="INFO" />
	<logger name="io.spotnext.core.management.service.impl.ModelServiceRestEndpoints" level="INFO" />
	<logger name="io.spotnext.infrastructure.instrumentation.JpaEntityClassTransformer" level="INFO" />

	<!-- framework logs -->
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.SQL" level="INFO" />
	<logger name="org.hibernate.cache" level="INFO" />
	<logger name="org.hibernate.hql.internal.ast.QueryTranslatorImpl" level="ERROR" />
	<logger name="org.hibernate.stat" level="DEBUG" />
	<logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="DEBUG" />
	<logger name="org.hibernate.event.internal.DefaultPersistEventListener" level="DEBUG" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.type" level="TRACE" />
	<logger name="org.hibernate.engine.internal.Cascade" level="TRACE" />
	<logger name="org.hibernate.engine.spi.CascadingAction" level="TRACE" />
	<logger name="org.hibernate.event.internal.AbstractSaveEventListener" level="TRACE" />

	<logger name="org.ehcache" level="INFO" />

	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.context.support" level="WARN" />
	<logger name="org.springframework.beans.factory" level="WARN" />
	
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="org.reflections.Reflections" level="WARN" />
	<logger name="org.apache.catalina.core" level="WARN" />
	<logger name="com.zaxxer.hikari" level="WARN" />
	<logger name="org.eclipse.jetty" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>