<div lang="en" xmlns:th="http://www.thymeleaf.org" class="category-menu">
	<ul th:fragment="categoryList(categories)">
		<li th:each="category : ${categories}">
			<span class="entry" th:text="${category.get('name')}">Category name</span>
			<ul th:if="${category.get('subCategories')?: {}}" th:replace="::categoryList(${category.get('subCategories')})">
				<li>Sub category</li>
			</ul>
		</li>
	</ul>

	<ul th:replace="::categoryList(${this.get('category')})">
		<li>Menu categories</li>
	</ul>
</div>